{% extends 'default.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}
Вход
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>&nbsp;</p>
        <h4><p>Вы уже вошли как {{ user.username }}!</p></h4>
    {% else %}
        <h2>Вход</h2>
        <hr>
        <p>&nbsp;</p>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Войти">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {% endif %}
{% endblock content %}